.main {
  display: flex;
  width: 100%;
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  border-radius: 0px 0px 16px 16px;
  background: var(--Gray-White, #fff);

  /* Elevation/Lv1 */
  box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.1);
}

.links {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
