.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 76px;
  gap: 4px;
  color: var(--Gray-White, #fff);
  text-align: center;
  /* Body / 16px medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
}
.sizeM {
  padding: 4px 12px;
  border-radius: 6px;
}
.sizeS {
  padding: 4px;
  border-radius: 4px;
}
.ready {
  background: #a8d37f;
}
.blocked {
  background: #ec7777;
}
.inGame {
  background: #87cae8;
}
.outOfTheGame {
  background: #ededed;
  color: var(--Gray-700, #373745);
}
