.main {
  display: inline-flex;
  gap: 8px;
  color: var(--Gray-700, #373745);
  text-align: center;
  /* Body / 16px medium */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.24px;
  background: var(--Gray-50, #f7f7f7);
  border: none;
}
.main:hover {
  background: var(--Gray-100, #dcdcdf);
}
.main:disabled {
  opacity: 0.3;
  background: var(--Gray-50, #f7f7f7);
}
.sizeMedium {
  align-items: flex-start;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 16px;
}
.sizeMSmall {
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
}
.sizeSSmall {
  padding: 8px 16px;
  align-items: flex-start;
  border-radius: 8px;
  font-size: 14px;
}
.iconYes {
  align-items: center;
}
